.App {
  text-align: center;
}

.fact-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". . ."
    ". . ."
    "footer footer footer";
}



footer {
  grid-area: footer;
}