.App {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fact-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  place-items: center;
  grid-template-areas:
    ". title mode"
    ". fact ."
    ". button ."
    "footer footer footer";
  background: linear-gradient(135deg, #6c5be9 25%, transparent 25%) -4vw 0/ 0vw 8.02vw, linear-gradient(225deg, rgba(108,91,233,0.5) 25%, transparent 25%) -4vw 0/ 8.02vw 8.02vw, linear-gradient(315deg, #6c5be9 25%, transparent 25%) 0 0/ 0vw 8.02vw, linear-gradient(45deg, rgba(108,91,233,0.5) 25%, transparent 25%) 0 0/ 8.02vw 8.02vw;
  background-color: inherit;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1vw;
  animation: fact-container 300s linear infinite normal;
}

@keyframes fact-container {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

.app-title {
  grid-area: title;
  align-self: end;
  padding-top: 8vw;
  font-family: 'Shrikhand', cursive;
  font-size: 1.3vw;
}

.dark-mode-button {
  grid-area: mode;
  align-self: flex-start;
  margin: 2.3vw 0 0 5vw;
  padding: 1em;
  background: rgba(188, 188, 188, 0.25);
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);
  border: 5vw 5vh solid rgba(255,255,255,0.125);
  border-radius: 1vw;
}

.fact-content {
  height: 40vh;
  width: 50vw;
  grid-area: fact;
  padding: 3vw 5vw 5vw;
  justify-self: center;
  text-align: center;
  background: rgba(188, 188, 188, 0.25);
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);
  border: 50vw 40vh solid rgba(38, 38, 38, 0.125);
  border-radius: 1vw;
}

.source {
  overflow-wrap: break-word;
}

.get-button {
  grid-area: button;
  padding: 4vw;
}

footer {
  grid-area: footer;
  padding: 2vw;
}